*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.conteiner {
    padding: 15px;

}
.topo {
    background-color: rgb(3, 57, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
    .topo h1 {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .topo span {
        color: rgba(0, 177, 231, 0.952);
    }

    .topo .menu ul {
        display: flex;
        gap: 40px;
    }

    .topo .menu a {
        color: white;
    }
    .topo .menu a:hover {
        color: rgba(0, 177, 231, 0.952);
        cursor: pointer;


    }
.banner{
    max-height: 70vh;
    overflow: hidden;
}    
    .banner img {
        width: 100%;
        height: auto;
        
    }    
    .banner div {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 350px;
    }    
    .banner h2 {
        text-transform: uppercase;
        font-size: 72px;
        font-weight: 400;
        color: white;
    }
    .banner p {
        color: white;
    }
.info {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 30px 0 0;
}   
    .info .info__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(3, 105, 136, 0.952);
        padding: 15px;

    }
    .info .info__item h4{
        color: white;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .info .info__item  p{
        color: white;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .info .info__item a {
        text-decoration: none;
        background-color: rgba(0, 177, 231, 0.952);
        border-radius: 4px;
        padding: 8px 5px;
        color: white;
        transition: 200ms all ease-in-out;
    }
    .info .info__item a:hover {
        background-color: rgba(4, 80, 106, 0.952);

       
    }
.more {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}    
    .more__item{
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    } 
    .more__item img {
        width: 100%;
    } 
    .more__item h4 {
        color: rgba(4, 80, 106, 0.952);
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
        min-height: 30px;
    } 
    .more__item.more__item--texto {
        padding-top: 40px;

    }
    .more__item:nth-child(3) .direito{
        background-color: rgba(0, 194, 194, 0.121);
        padding: 20px;
        flex: 1;
        font-style: italic;
        position: relative;
    }
    .direito::after{
        content: "";
        width: 0; 
        height: 0; 
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 18px solid rgba(0, 194, 194, 0.121);
        position: absolute;
        bottom: -18px;
        left: 10%;
    }
    .more__item:nth-child(3) > div{
        flex: 1;
        display: flex;
        flex-direction: column;

    } 
    .more__item:nth-child(3) .citaçao{
        background: transparent;
        height: auto;
        margin-top: 15px;
    } 
    .more__item:nth-child(3) {
        justify-content: flex-start;


                
    } 
    .more__item.more__item--texto p {
        color: black;

    }
    .more__item.more__item--texto a {
        color: rgba(0, 177, 231, 0.952);
        text-decoration: none;
        font-weight: 600;
        font-size: 19px;
    }
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}    

    .footer__copysocial {
    align-items:flex-start ;
    background-color: rgb(3, 57, 88); 
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    }
    .footer__copysocial p{
        color: white;
        list-style: none;
        }
        .footer__copysocial a{
            color: white;
            
            }
    .footer__menu ul{
        display: flex;
        justify-content: center;
        gap: 20px;
 
    }
    .footer__menu {
        background-color: #e0f8f8;
        width: 100%;
        padding: 15px;
 
    }
    .footer img {
        max-width: 20px;
        

    }